target/
*.log
hs_err_pid*
replay_pid*

!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/MavenWrapperDownloader.java

.idea/
*.iml
.project
.classpath
.settings/
.vscode/

.DS_Store
Thumbs.db
